@using System.Web.Helpers
@using CRM_Core.Infrastructure;


@model CRM_Core.Application.ViewModels.People.peopleViewModel
@{
        bool isEdit = (bool)ViewBag.isEdit;
        int? peopleIntroduceId = Model.People != null ? Model.People.IntroduceId : 0;
        List<SelectListItem> graduationItems = Model.GraduationItems.ToList().ConvertAll(item => { return new SelectListItem() { Text = item.Name.ToString(), Value = item.Id.ToString(), Selected = isEdit ? (item.Id == Model.People.TBASGraduationId ? true : false) : false }; });
        List<SelectListItem> potentialItems = Model.PotentialItems.ToList().ConvertAll(item => { return new SelectListItem() { Text = item.Name.ToString(), Value = item.Id.ToString(), Selected = isEdit ? (item.Id == Model.People.TBASPotentialId ? true : false) : false }; });
        List<SelectListItem> categoriyItem = Model.CategoriyItem.ToList().ConvertAll(item => { return new SelectListItem() { Text = item.Name.ToString(), Value = item.Id.ToString(), Selected = isEdit ? (item.Id == Model.People.TBASCategoryId ? true : false) : false }; });
        List<SelectListItem> tbasIntroductionTypeItems = Model.TBASIntroductionTypeItems.ToList().ConvertAll(item => { return new SelectListItem() { Text = item.Name.ToString(), Value = item.Id.ToString(), Selected = isEdit ? (item.Id == Model.People.TBASIntroductionTypeId ? true : false) : false }; });
        List<SelectListItem> prefixItems = Model.PrefixItems.ToList().ConvertAll(item => { return new SelectListItem() { Text = item.Name.ToString(), Value = item.Id.ToString(), Selected = isEdit ? (item.Id == Model.People.TBASPrefixId ? true : false) : false }; }); ;
        List<SelectListItem> marriedItems = ((List<SelectListItem>)ViewBag.marriedItems).ToList().ConvertAll(item => { return new SelectListItem() { Text = item.Text, Value = item.Value, Selected = isEdit ? (Model.People.MarriedType.ToString() == item.Value ? true : false) : false }; });
        bool mariedState = Model.People != null && Model.People.MarriedType != (int)Enums.MariedType.Married ? true : false ;


<div class="card-content">
    <div class="card-body">
        <FormTitle form_title="@(isEdit ? UI_Presentation.wwwroot.Resources.People.Title.EditPeople: UI_Presentation.wwwroot.Resources.People.Title.AddPeople )"></FormTitle>
        <ul class="nav nav-tabs mb-2" role="tablist">
            <tab-Item-li title="@UI_Presentation.wwwroot.Resources.People.Title.PeopleInfo" href="PeopleInfo" class-name="bx bx-user mr-25"></tab-Item-li>
            <tab-Item-li title="@UI_Presentation.wwwroot.Resources.People.Title.Relations" href="relations" class-name="bx bx-phone mr-25"></tab-Item-li>
            <tab-Item-li title="@UI_Presentation.wwwroot.Resources.People.Title.OtherInfo" href="information" class-name="bx bxs-comment mr-25"></tab-Item-li>
            <tab-Item-li title="@UI_Presentation.wwwroot.Resources.People.Title.Intorduction" href="intorduction" class-name="bx bxs-user-voice mr-25"></tab-Item-li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade active show" id="PeopleInfo" role="tabpanel" aria-labelledby="account-tab">
                <Profile-Image profile-title="@(isEdit ? Model.People.FirstName + " - " + Model.People.LastName : string.Empty)" on-click-change=""></Profile-Image>
                <form id="peopleForm" novalidate>
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            @*<FormTitle form_title="@UI_Presentation.wwwroot.Resources.People.Title.PeopleInfo"></FormTitle>*@
                            @Html.Hidden("PeopleID", (int?)ViewBag.PeopleID)
                            <short-TextBox id="txtManualCode" tab-index="0" requeired-message="" value="@(isEdit ? Model.People.ManualCode : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.ManualCode"></short-TextBox>
                            <short-TextBox id="txtName"  tab-index="1"required="true" requeired-message="@UI_Presentation.wwwroot.Resources.Mesages.ThisFieldIsRequired" value="@(isEdit ? Model.People.FirstName : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Name"></short-TextBox>
                            <short-TextBox id="txtFamily" tab-index="2" required="true" requeired-message="@UI_Presentation.wwwroot.Resources.Mesages.ThisFieldIsRequired" value="@(isEdit ? Model.People.LastName : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Family"></short-TextBox>
                            <DateTime-TextBox tab-index="6" id="txtBirthDay" label-title="@UI_Presentation.wwwroot.Resources.People.Title.BirthDay" value="@(isEdit ? Model.People.P_Birthday : string.Empty)"></DateTime-TextBox>
                        </div>

                        <div class="col-12 col-sm-6">
                            <short-TextBox id="txtJob" tab-index="4" requeired-message="" value="@(isEdit ? Model.People.Job : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Job"></short-TextBox>
                            <dropDown id="cmbCategory" tab-index="3" required="true" all-items-name="@UI_Presentation.wwwroot.Resources.General.Title.SelectItem" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Category" drop-down-data-bound="@categoriyItem"></dropDown>
                            <short-TextBox id="txtCertificateCode" tab-index="5" requeired-message="" value="@(isEdit ? Model.People.CertificateCode : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.CertificateCode"></short-TextBox>
                        </div>

                        <div class="col-12">
                            <short-TextBox id="txtDescription" requeired-message="" value="@(isEdit ? Model.People.Description : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Description"></short-TextBox>
                            <Text-Address province-value="@(isEdit ? Model.Address.Province : string.Empty)" city-value="@(isEdit ? Model.Address.City : string.Empty)" area-value="@(isEdit ? Model.Address.Area : string.Empty)" street-value="@(isEdit ? Model.Address.Street : string.Empty)" alley-value="@(isEdit ? Model.Address.Alley : string.Empty)" other-address="@(isEdit ? Model.Address.OtherAddress : string.Empty)"></Text-Address>
                        </div>
                    </div>
                </form>
            </div>

            <div class="tab-pane fade" id="information" role="tabpanel" aria-labelledby="information-tab">
                <form novalidate="">
                    <div class="row">
                        <div class="col-12 col-sm-6 mt-1 mt-sm-0">
                            <h5 class="mb-1"><i class="bx bx-user mr-25"></i>@UI_Presentation.wwwroot.Resources.People.Title.OtherInfo</h5>
                            <dropDown id="cmbGraduaction" all-items-name="@UI_Presentation.wwwroot.Resources.General.Title.SelectItem" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Graduation" drop-down-data-bound="@graduationItems"></dropDown>
                            <dropDown id="cmbIntroductionType" all-items-name="@UI_Presentation.wwwroot.Resources.General.Title.SelectItem" label-title="@UI_Presentation.wwwroot.Resources.People.Title.AcquaintanceType" drop-down-data-bound="@tbasIntroductionTypeItems"></dropDown>
                            <dropDown id="cmbPrefix" all-items-name="@UI_Presentation.wwwroot.Resources.General.Title.SelectItem" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Prefix" drop-down-data-bound="@prefixItems"></dropDown>
                            <dropDown id="cmbPotential" all-items-name="@UI_Presentation.wwwroot.Resources.General.Title.SelectItem"  label-title="@UI_Presentation.wwwroot.Resources.People.Title.Potential" drop-down-data-bound="@potentialItems"></dropDown>
                            <dropDown id="cmbMarriedType" all-items-name="@UI_Presentation.wwwroot.Resources.General.Title.SelectItem" onchange-drop-down="checkMariedStateDate()" label-title="@UI_Presentation.wwwroot.Resources.People.Title.IsMarried" drop-down-data-bound="@marriedItems"></dropDown>
                            <DateTime-TextBox id="txtMariedDate" label-title="@UI_Presentation.wwwroot.Resources.People.Title.MariedDate" value="@(isEdit ? Model.People.P_MariedDate : string.Empty)"> </DateTime-TextBox>
                        </div>

                        <div class="col-12 col-sm-6">
                            <h5 class="mb-1"><i class="bx bx-link mr-25"></i>@UI_Presentation.wwwroot.Resources.People.Title.PeopleRelations</h5>
                            <short-TextBox id="txtWebSite" requeired-message="" value="@(isEdit && Model.PeopleVirtual != null ? Model.PeopleVirtual.WebSite : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.WebSite"></short-TextBox>
                            <short-TextBox id="txtInstagram" requeired-message="" value="@(isEdit && Model.PeopleVirtual != null ? Model.PeopleVirtual.Instagram : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Instagram"></short-TextBox>
                            <short-TextBox id="txtTelegram" requeired-message="" value="@(isEdit && Model.PeopleVirtual != null ? Model.PeopleVirtual.Telegram : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Telegram"></short-TextBox>
                            <short-TextBox id="txtWhatsApp" requeired-message="" value="@(isEdit && Model.PeopleVirtual != null ? Model.PeopleVirtual.WhatsApp : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.WhatsApp"></short-TextBox>
                            <short-TextBox id="txtEmail" requeired-message="" value="@(isEdit && Model.PeopleVirtual != null ? Model.PeopleVirtual.Email : string.Empty)" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Email"></short-TextBox>
                        </div>
                    </div> 
                </form>
            </div>

            <div class="tab-pane fade" id="relations" role="tabpanel" aria-labelledby="account-pill-connections" aria-expanded="false">
                @await Html.PartialAsync("~/Views/Shared/RelationPropertyPopup.cshtml", null, new ViewDataDictionary(ViewData) { { "param", string.Format("{0},{1},{2}", isEdit.ToString(), ((int?)ViewBag.PeopleID).ToString(),((int)Enums.PeopleType.people).ToString()) } })
            </div>

            <div class="tab-pane fade" id="intorduction" role="tabpanel" aria-labelledby="information-tab">
                @await Html.PartialAsync("~/Views/People/ShowPeopleSelectorPopup.cshtml", null, new ViewDataDictionary(ViewData) { { "param", string.Format("{0},{1}", ((int)Enums.states.People).ToString(), peopleIntroduceId.ToString()) } })
            </div>

            <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
                <Icon-Button botton-type="(int)(@CRM_Core.Infrastructure.Enums.ButtonType.RegisterBotton)" id="btnAddEditPeople" on-click-event="btnAddEditPeople(this,'@UI_Presentation.wwwroot.Resources.Mesages.ForThisCustomerHasNotRegisterAnyIntroducePeople','@UI_Presentation.wwwroot.Resources.Mesages.NoTelPhoneEnteredForPeople')" title="@UI_Presentation.wwwroot.Resources.Buttons.Title.Add"></Icon-Button>
                <Icon-Button botton-type="(int)(@CRM_Core.Infrastructure.Enums.ButtonType.CancelBotton)" id="btnCancel" on-click-event="btnActionCancelClick(this,'@UI_Presentation.wwwroot.Resources.Mesages.DoYouWantToLeaveThisForm')" title="@UI_Presentation.wwwroot.Resources.Buttons.Title.Cancel"></Icon-Button>
            </div>

        </div>
    </div>
</div> }


<script src="~/assets/js/scripts/forms/validation/form-validation.js"></script>

<script>
    $(".txtDate").datepicker({
        dateFormat: './dd/mm/yy.html',
        dateFormat: 'yy/mm/dd',
        altField: '#alternate2',
        altFormat: 'DD، d MM yy'
    });


    if (@isEdit.ToString().ToLower() == false || @mariedState)
        $("#txtMariedDate").prop('disabled', true);

    getPhoneTelTypes();

    //$('a[data-toggle="tab"]').'('shown.bs.tab', function (e) {
    //    var peopleId = $("#PeopleID").val();
    //    if (peopleId > 0)
    //        getPeopleTelsAndMobile(e, peopleId);
    //});


    //$(document).ready(function () {
    //    $("#peopleForm").validate({
    //        rules: {
    //            field1: "required"
    //        },
    //        messages: {
    //            field1: "Please specify your name"

    //        }
    //    })

    //    $('#btnTest').click(function () {
    //        $("#peopleForm").valid();
    //    });
    //});


</script>