@using System.Data

<div class="titleForm">@ViewBag.Title</div>
<div>

</div>

<div id="form-peopleSearch" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 1150px;">
        <div class="modal-content">
            <div class="modal-header" style="background: #5f0931;color: white;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">@UI_Presentation.wwwroot.Resources.People.Title.PeopleSearch</h4>
            </div><!-- /.modal-header -->
            <div class="modal-body" style="background: #f2f4eb;">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center m-t-30 m-b-40">
                            <i class="icon-user-following border border-primary img-circle text-primary font-xxxlg p-20"></i>
                        </p>
                    </div>
                    <div class="col-md-12">
                        <form method="post" class="form-horizontal" role="form">
                            <div class="col-lg-11">
                                <table class="tblFields">
                                    <tr>
                                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Name, null, new { @class = "labelWidget" }) </td>
                                        <td>@Html.TextBox("txtName", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.Name })</td>
                                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Family, null, new { @class = "labelWidget" }) </td>
                                        <td>@Html.TextBox("txtFamily", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.Family })</td>
                                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Age, null, new { @class = "labelWidget" }) </td>
                                        <td>@Html.TextBox("txtAge", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.Age })</td>
                                    </tr>
                                    <tr>
                                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Potential, null, new { @class = "labelWidget" }) </td>
                                        <td><select class="form-control" id="cmbPotential" name="StudentGender"><option> @UI_Presentation.wwwroot.Resources.People.Title.Potential </option></select></td>
                                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.BirthDay, null, new { @class = "labelWidget" }) </td>
                                        <td>@Html.TextBox("txtBirthDay", null, new { @class = "form-control txtDate", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.BirthDay })</td>
                                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Intorduction, null, new { @class = "labelWidget" }) </td>
                                        <td><select class="form-control" id="cmbIntorduction" name="StudentGender"><option> @UI_Presentation.wwwroot.Resources.General.Title.SelectItem </option></select></td>

                                    </tr>
                                    <tr>
                                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.AcquaintanceType, null, new { @class = "labelWidget" }) </td>
                                        <td><select class="form-control" id="cmbAcquaintanceType" name="AcquaintanceType"><option> @UI_Presentation.wwwroot.Resources.General.Title.SelectItem </option></select></td>
                                    </tr>
                                </table>

                            </div><!-- /.col-sm-8 -->
                            <div class="col-lg-12 divHeaderSearch">
                                <button type="button" onclick="showPeopleList(false)" class="btn btn-info btn-round btnSearchGrid">
                                    <i class="fa fa-search"></i>&nbsp; @UI_Presentation.wwwroot.Resources.General.Title.Search
                                </button>
                                <button type="button" class="btn btn-danger btn-round" data-dismiss="modal">@UI_Presentation.wwwroot.Resources.Buttons.Title.Cancel</button>
                            </div><!-- /.col-sm-8 -->
                        </form>
                    </div><!-- /col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.modal-body -->
        </div><!-- /.modal-content -->
    </div>
</div>
<br />
<div class="col-md-12">
    <div class="portlet box border shadow">
        <div class="portlet-heading">
            <div class="portlet-title">
                <h3 class="title">
                    <i class="icon-basket-loaded fa-flip-horizontal"></i>
                    @UI_Presentation.wwwroot.Resources.General.Title.PeopleList
                </h3>
            </div>
            <div class="buttons-box">
                <a title="" class="btn btn-sm btn-default btn-round btn-code" href="#" rel="tooltip" data-original-title="کدها">
                    <i class="fa fa-code"></i>
                    <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                </a>
                <a title="" class="btn btn-sm btn-default btn-round btn-fullscreen" href="#" rel="tooltip" data-original-title="تمام صفحه">
                    <i class="icon-size-fullscreen"></i>
                    <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                </a>
                <a title="" class="btn btn-sm btn-default btn-round btn-collapse" href="#" rel="tooltip" data-original-title="کوچک کردن">
                    <i class="icon-arrow-up"></i>
                    <div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                </a>
            </div><!-- /.buttons-box -->
        </div><!-- /.portlet-heading -->
        <div class="portlet-body">
            <div class="row">
                <div class="col-sm-4 m-b-20">
                    <a class="btn btn-success btn-round" onclick="showPeopleList" href="#">
                        <i class="icon-plus"></i>
                        افزودن
                        <div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0.0004;"></div><div class="paper-ripple__waves"></div></div>
                    </a>

                    <a class="btn btn-info btn-round" data-target="#form-peopleSearch" data-toggle="modal">
                        <i class="icon-size-fullscreen"></i>
                        @UI_Presentation.wwwroot.Resources.General.Title.Search
                        <div class="paper-ripple"><div class="paper-ripple__background" style="opacity: 0;"></div><div class="paper-ripple__waves"></div></div>
                    </a>
                </div>
                <div class="col-sm-4 m-b-20">
                    <form role="form">
                        <div class="input-group round">
                            <input class="form-control" type="text" style="width:313px !important;" id="txtPeopleSearch" placeholder="@UI_Presentation.wwwroot.Resources.General.Title.SearchWithFirstNameFullName">
                            <span class="input-group-btn">
                                <button class="btn btn-default" onclick="showPeopleList(true)" type="button" style="margin-right:-34px !important;">
                                    <i class="icon-magnifier"></i>
                                    <div class="paper-ripple"></div><div class="paper-ripple"><div class="paper-ripple__background"></div><div class="paper-ripple__waves"></div></div>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
            <div id="peopleList">>
                @await Html.PartialAsync("~/Views/People/FillPeopleTableData.cshtml")
            </div>
        </div>
    </div>
</div>

<script>
    concatColonToLables();

    //$(".btnAction").click(function () {
    //    var id = 'PeopleId';
    //    var val = null;
    //    var elem = $(this).closest('tr').find('.nr')[0].childNodes;
    //    var relativeid = null;
    //    for (var i = 0; i < elem.length; i++) {
    //        if (elem[i].className != 'undefiend' && elem[i].className == "specialFields") {
    //            debugger;
    //            relativeid = elem[i].id;
    //            if (relativeid == id) {
    //                val = elem[i].innerHTML;
    //            break;
    //            }
    //        }
    //    }
    //    if (val != null)
    //        btnOpenEditPeople(val);
    //});
</script>





