@using System.Data;
@using CRM_Core.Infrastructure;
@using CRM_Core.Application.GridViewModels
@using CRM_Core.Application.ViewModels.People

@model DataGridViewModel<PeopleModel>

@{
    string param = ViewData["param"].ToString();
    string[] splitParam = param.Split(",");
    int state = Convert.ToInt32(splitParam[0]);
    int peopleId = Convert.ToInt32(splitParam[1]);
    string buttionTitle = state == (int)Enums.states.People ? @UI_Presentation.wwwroot.Resources.Buttons.Title.SelectIntroduction : @UI_Presentation.wwwroot.Resources.Buttons.Title.SelectCustomer;
    TempData["IsSelectMode"] = true;
    <customChild-tag class="peopleSelector" id="peopleSelector">
        <customTag-children>
            <button type="button" data-toggle="modal" data-target="#PeopleSelectorModal" id="btnAddEditPeople" class="btn btnPeopleSelector">@buttionTitle</button>
            <table class="tblPeopleSelector">
                <tr>
                    <td class="specialTd" style="display:none;"><span id="PeopleSelector_Id" class="specialFields"></span></td>
                    <td class="tdPeopleSelector"><p id="PeopleSelector_fullName"></p></td><td class="tdPeopleSelector"><p id="PeopleSelector_age"></p></td>
                    <td class="tdPeopleSelector"><p id="PeopleSelector_birthday"></p></td><td class="tdPeopleSelector"><p id="PeopleSelector_certificateCode"></p></td>
                </tr>
                <tr>
                    <td class="tdPeopleSelector"><p id="PeopleSelector_graduation"></p></td><td colspan="3" class="tdPeopleSelector"><p id="PeopleSelector_address"></p></td>
                </tr>
            </table>
        </customTag-children>
    </customChild-tag>

    <modal bodystyle="height:611px" title="@UI_Presentation.wwwroot.Resources.Reservation.Title.ReservationSearch" id="PeopleSelectorModal">
        <modal-body>
            <short-TextBox id="_txtsystemCode" label-title="@UI_Presentation.wwwroot.Resources.People.Title.SystemCode"></short-TextBox>
            <short-TextBox id="_txtmanualCode" label-title="@UI_Presentation.wwwroot.Resources.People.Title.ManualCode"></short-TextBox>
            <short-TextBox id="_txtCertificateCode" label-title="@UI_Presentation.wwwroot.Resources.People.Title.CertificateCode"></short-TextBox>
            <short-TextBox id="_txtName" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Name"></short-TextBox>
            <short-TextBox id="_txtFamily" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Family"></short-TextBox>
            <customChild-tag style="text-align: left;">
                <customTag-children>
                    <Icon-Button buttom-class="btn btn-success  btn-radious"  icon="fa fa-search" title="@UI_Presentation.wwwroot.Resources.Buttons.Title.Search" on-click-event="showPeopleList('false','isSelectedMode')"></Icon-Button>
                </customTag-children>
            </customChild-tag>

            <div id="peopleList">
                @await Html.PartialAsync("~/Views/People/FillPeopleTableData.cshtml", Model)
            </div>
        </modal-body>

        <modal-footer dismiss-text="@UI_Presentation.wwwroot.Resources.Buttons.Title.Cancel"></modal-footer>
    </modal>
    }

<script>
    getPeopleSelectorInfo('@peopleId');
</script>