@*@model CRM_Core.DomainLayer.ApplicationUser*@

@{ Layout = null; }
<style>
    .loginBody {
        background-image: url(../image/login/loginBackground.png);
        height: 100%;
        min-height: 100%;
        position: relative;
        background-repeat: no-repeat !important;
    }
</style>

<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <environment include="Development">
        <link href="~/css/font.css" rel="stylesheet" />
        <link href="~/bundles/CRM_CoreBootstrap.min.css" rel="stylesheet" />
        <link href="~/bundles/CRM_Core.min.css" rel="stylesheet" />
    </environment>

    <environment exclude="Development">
        <link href="~/css/font.css" rel="stylesheet" />
        <link href="~/bundles/CRM_CoreBootstrap.min.css" rel="stylesheet" />
        <link href="~/bundles/CRM_Core.min.css" rel="stylesheet" />
    </environment>
</head>
<body class="fix-header active-ripple theme-blue loginBody">
    <div id="divLoaderLogin" class="folding-cube" style="margin-top:303px;position:fixed;display:none; z-index:500000">
        <div class="cube1 cube" style=""></div>
        <div class="cube2 cube" style=""></div>
        <div class="cube4 cube" style=""></div>
        <div class="cube3 cube" style=""></div>
    </div><!-- /.folding-cube -->

    <div class="fixed-modal-bg"></div>
        
    <div class="modal-page shadow" style="border-radius:51px ;box-shadow: 7px 7px 7px -1px gray; float: right;height: 752px;margin-top: -50px;">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="logo-con m-t-10 m-b-10">
                            <img src="~/image/login/lock.png" style="height:118px !important" class="center-block img-responsive">
                        </div>
                        <h2 class="text-center m-b-20">@UI_Presentation.wwwroot.Resources.General.Title.LoginIntoApplication</h2>
                        <hr>
                        <div class="form-group">
                            <label for="" class="sr-only">@UI_Presentation.wwwroot.Resources.General.Title.UserName</label>
                            <div class="input-group round">
                                <span class="input-group-addon">
                                    <i class="icon-user"></i>
                                </span>
                                <input style="text-align:right;width:277px !important;" id="UserName" class="form-control ltr text-left" type="text" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="sr-only">@UI_Presentation.wwwroot.Resources.General.Title.Password</label>
                            <div class="input-group round">
                                <span class="input-group-addon">
                                    <i class="icon-key"></i>
                                </span>
                                <input style="text-align:right;width:277px !important" id="Password" class="form-control ltr text-left" type="password" required="required">
                            </div>
                        </div>




                        <a href="#" onclick="btnLogin()">
                            <input class="btn btn-info btn-round btn-block" type="submit" value="@UI_Presentation.wwwroot.Resources.General.Title.Login" />
                        </a>

                        <hr class="m-b-30">
                        <div style="text-align:center;">
                            <span>اتوماسیون مدیریت سالن های زیبایی</span>
                            <br />
                        </div>
                        <div style="text-align:center;">
                            <span>مــشّاطـه</span>
                            <br />
                        </div>
                    </div><!-- /.col-md-12 -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div><!-- /.modal-page -->

        <!-- END WRAPPER -->
        <!-- BEGIN JS -->
    <environment include="Development">
        <script src="~/bundles/CRM_Core.min.js"></script>
        @*<script src="~/js/jquery-1.12.4.min.js"></script>
        <script src="~/plugins/jquery-migrate/jquery-migrate-1.2.1.min.js"></script>
        <script src="~/js/holder.js"></script>
        <script src="~/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/plugins/paper-ripple/dist/PaperRipple.min.js"></script>
        <script src="~/plugins/sweetalert2/dist/sweetalert2.min.js"></script>
        <script src="~/plugins/iCheck/icheck.min.js"></script>
        <script src="~/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/plugins/jquery-validation/src/localization/messages_fa.js"></script>
        <script src="~/js/core.js"></script>
        <script src="~/js/CRM/Messages.js"></script>
        <script src="~/js/CRM/General.js"></script>
        <script src="~/js/pages/login.js"></script>*@
    </environment>

        <environment exclude="Development">
            <script src="~/bundles/CRM_Core.min.js"></script>
        </environment>
</body>
</html>
