@using CRM_Core.Infrastructure;


<link href="~/plugins/clockpicker/dist/bootstrap-clockpicker.min.css" rel="stylesheet" />
<script src="~/plugins/clockpicker/dist/bootstrap-clockpicker.min.js"></script>

<script src="~/js/pages/clock.js"></script>
@{ ViewData["peopleId"] = 1008;
    
    int? peopleId = ViewBag.peopleId ?? (int)ViewBag.peopleId;
    List<SelectListItem> payType = ViewBag.payTypeItems;

    <div class="titleForm">@ViewBag.Title</div>
    <br />
    @*<partial name="~/Views/People/ShowPeopleSelectorPopup.cshtml" action="ShowPeopleSelectorPopup" view-data="ViewData" />*@
    @await Html.PartialAsync("~/Views/People/ShowPeopleSelectorPopup.cshtml", null, new ViewDataDictionary(ViewData) { { "param", string.Format("{0},{1}", ((int)Enums.states.People).ToString(), peopleId.ToString()) } }) @*@await Html.PartialAsync("~/Views/People/ShowPeopleSelectorPopup.cshtml", TempData["test"]);*@

    <tab-strip form-name="Reservation">
        <tab-Item>
            <tab-Name is-active="true" target-tab="Reservation" tab-title="@UI_Presentation.wwwroot.Resources.People.Title.GeneralInfoPeople"> </tab-Name>
            <tab-Name target-tab="Services" tab-title="@UI_Presentation.wwwroot.Resources.Reservation.Title.Services"> </tab-Name>
        </tab-Item>

        <tab-details>
            <tab-details-item id="Reservation" is-acitve="true">
                <tab-controlls>
                    @Html.Hidden("ReservationId", null)
                    <short-TextBox id="txtOrderDate" label-title="@UI_Presentation.wwwroot.Resources.Reservation.Title.Date" required="true" is-date-type="true"></short-TextBox>
                    <time-TextBox id="txtFromTimeOrder" label-title="@UI_Presentation.wwwroot.Resources.Reservation.Title.FromTimeOrder"></time-TextBox>
                    <time-TextBox id="txtToTimeOrder" label-title="@UI_Presentation.wwwroot.Resources.Reservation.Title.ToTimeOrder"></time-TextBox>
                    <dropDown id="cmbPaidType" all-items-name="@UI_Presentation.wwwroot.Resources.General.Title.AllItems" label-title="@UI_Presentation.wwwroot.Resources.Reservation.Title.PaidType" drop-down-data-bound="@payType"></dropDown>
                    <short-TextBox id="txtFee" label-title="@UI_Presentation.wwwroot.Resources.Reservation.Title.Fee"></short-TextBox>
                    <Text-Area id="txtDescription" label-title="@UI_Presentation.wwwroot.Resources.People.Title.Description" ></Text-Area>
                </tab-controlls>
                
                <tab-summery>
                   <tab-summeryItems title="تعداد کل" value="25بار"></tab-summeryItems>
                   <tab-summeryItems title="تعداد کل" value="25بار"></tab-summeryItems>
                   <tab-summeryItems title="تعداد کل" value="25بار"></tab-summeryItems>
                   <tab-summeryItems title="تعداد کل" value="25بار"></tab-summeryItems>
                   <tab-summeryItems title="تعداد کل" value="25بار"></tab-summeryItems>
                </tab-summery>

            </tab-details-item>

            <tab-details-item id="Services">
                <tab-controlls>
                    <div style="margin-top: 53px;">
                        <div style="width:300px;margin-bottom:12px;">
                            <select class="comboBox" id="cmbClerk" onchange="loadItemsSalonServicesDiv()"> <option>@UI_Presentation.wwwroot.Resources.General.Title.AllItems</option> </select>
                            <p style="float:right;margin-left :5px;">خدمات کارمند :</p>
                        </div>
                        <div>
                            <p id="pSalonService" class="pSalonService">خدمات سالن</p>
                            <p id="pCustomerService" class="pCustomerService">خدمات مشتری</p>
                        </div>
                    </div>
                    <div id="salonServices" class="portlet box border shadow divGetServices"></div>
                    <div id="customerServices" class="portlet box border shadow divGetServices" style="float:left!important;width:598px;"></div>
                </tab-controlls>
            </tab-details-item>
        </tab-details>
       <tab-bottons></tab-bottons>
    </tab-strip>
 }

<script>

    loadItemsSalonServicesDiv();
    var repeatedItemsService = '@UI_Presentation.wwwroot.Resources.Mesages.ThisItemHasAddedAleadyToServiceCustomer'
    concatColonToLables();
    $(".txtDate").datepicker({
        dateFormat: './dd/mm/yy.html',
        dateFormat: 'yy/mm/dd',
        altField: '#alternate2',
        altFormat: 'DD، d MM yy'
    });

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        getClerkCombo(e);
    });

    var customerServiceIsNullMessage = '@UI_Presentation.wwwroot.Resources.Mesages.CustomerServiceInfoIsEmpty';
  </script>
