
<div class="titleForm">@ViewBag.Title</div>
<br />

<div class="col-lg-12">
    <div class="imgPerson">
        <a href="#" title=@UI_Presentation.wwwroot.Resources.People.Title.SelectPeopleProfile> <img style="padding-bottom:5px;" height="143" width="143" src="~/image/ButtonImage/PeopleProfile.png" />@UI_Presentation.wwwroot.Resources.People.Title.SelectPeopleProfile</a>
    </div>

    <ul class="nav nav-tabs nav-rtl">
        <li class="active"><a data-toggle="tab" href="#GeneralInfo">@UI_Presentation.wwwroot.Resources.Personel.Title.Employment </a></li>
        <li><a data-toggle="tab" href="#PeopleRelations"> @UI_Presentation.wwwroot.Resources.Personel.Title.Dismiss </a> </li>
        <li><a data-toggle="tab" href="#OtherInfo">@UI_Presentation.wwwroot.Resources.Personel.Title.Documents </a></li>
    </ul>

    <div class="divformControl">
        <div class="tab-content">
            <div id="GeneralInfo" class="tab-pane fade in active">
                <table class="tblFields">
                    <tr>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.Personel.Title.PersonelCode, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtPersonelCode", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.Personel.Title.PersonelCode })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.Personel.Title.PersonelName, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtPersonelName", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.Personel.Title.PersonelName })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Family, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtFamily", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.Family })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.Personel.Title.CertificateNumber, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtCertificateNumber", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.Personel.Title.CertificateNumber })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.CertificateCode, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtNationalCode", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.CertificateCode })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.Personel.Title.InsuranceNumber, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtInsuranceNumber", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.Personel.Title.InsuranceNumber })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.BirthDay, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtBirthDay", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.BirthDay })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.Personel.Title.IsMaried, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtIsMaried", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.Personel.Title.IsMaried })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.Personel.Title.EmploymentDate, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtEmploymentDate", null, new { @class = "form-control txtDate", placeholder = @UI_Presentation.wwwroot.Resources.Personel.Title.EmploymentDate })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.Personel.Title.SkillType, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtSkillType", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.Personel.Title.SkillType })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.Personel.Title.Position, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtPosition", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.Personel.Title.Position })</td>
                    </tr>

                    <tr>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Address, null, new { @class = "labelWidget" }) </td>
                        <td colspan="6">@Html.TextBox("txtAddress", null, new { @class = "TextArea", style = "width:829px !important;", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.Address })</td>
                    </tr>


                    <tr>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Description, null, new { @class = "labelWidget" }) </td>
                        <td colspan="6">@Html.TextBox("txtDescription", null, new { @class = "TextArea", style = "width:829px !important;", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.Description })</td>
                    </tr>
                </table>

            </div>
            <div id="PeopleRelations" class="tab-pane fade">
                <table class="tblFields">
                    <tr>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.WebSite, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtWebSite", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.WebSite, required = "required" })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Telegram, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtTelegram", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.Telegram })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.WhatsApp, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtWhatsApp", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.WhatsApp })</td>
                    </tr>
                    <tr>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Email, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtEmail", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.Email })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Instagram, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtInstagram", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.Instagram })</td>
                    </tr>
                </table>

            </div>

            <div id="OtherInfo" class="tab-pane fade">
                <table class="tblFields">
                    <tr>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.MariedDate, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtMariedDate", null, new { @class = "form-control txtDate", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.MariedDate })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.CertificateCode, null, new { @class = "labelWidget" }) </td>
                        <td>@Html.TextBox("txtCertificateCode", null, new { @class = "form-control", placeholder = @UI_Presentation.wwwroot.Resources.People.Title.CertificateCode })</td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Province, null, new { @class = "labelWidget" }) </td>
                        <td><select class="form-control" id="cmbProvince" name="StudentGender"><option> @UI_Presentation.wwwroot.Resources.General.Title.SelectItem </option></select></td>
                    </tr>
                    <tr>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.City, null, new { @class = "labelWidget" }) </td>
                        <td><select class="form-control" id="cmbCity" name="StudentGender"><option> @UI_Presentation.wwwroot.Resources.General.Title.SelectItem </option></select></td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Potential, null, new { @class = "labelWidget" }) </td>
                        <td><select class="form-control" id="cmbPotential" name="StudentGender"><option> @UI_Presentation.wwwroot.Resources.General.Title.SelectItem </option></select></td>
                        <td>@Html.Label(@UI_Presentation.wwwroot.Resources.People.Title.Intorduction, null, new { @class = "labelWidget" }) </td>
                        <td><select class="form-control" id="cmbIntorduction" name="StudentGender"><option> @UI_Presentation.wwwroot.Resources.General.Title.SelectItem </option></select></td>
                    </tr>

                </table>

            </div>
        </div>
    </div>


    <table class="tblButons">
        <tr>
            <td><button type="button" id="btnAddEditPeople" onclick="btnAddEditPeople()" class="btn btn-primary">@UI_Presentation.wwwroot.Resources.Buttons.Title.Add</button></td>
            <td><button type="button" id="btnAddEditPeopleContinue" class="btn btn-primary">@UI_Presentation.wwwroot.Resources.Buttons.Title.AddWithContinue</button></td>
            <td><button type="button" id="btnCloseAddEditCusomter" class="btn btn-danger">@UI_Presentation.wwwroot.Resources.Buttons.Title.Cancel</button></td>
        </tr>
    </table>
</div>


<script>
    concatColonToLables();
    $(".txtDate").datepicker({
        dateFormat: './dd/mm/yy.html',
        dateFormat: 'yy/mm/dd',
        altField: '#alternate2',
        altFormat: 'DD، d MM yy'
    });
</script>