@using System.Web.Helpers
@using CRM_Core.Infrastructure;
@using CRM_Core.Entities.Reservation;

@model CRM_Core.Application.ViewModels.People.peopleViewModel
@{ 
    bool isEdit = false;
    List<SelectListItem> payType = ((List<SelectListItem>)ViewBag.PayTypeList).ToList();

<div class="card-content">
    <div class="card-body">
        <FormTitle form_title="@(isEdit ? UI_Presentation.wwwroot.Resources.Reservation.Title.EditReservation: UI_Presentation.wwwroot.Resources.Reservation.Title.AddReservation )"></FormTitle>

        <div class="modal fade" id="form-chequeReservationSearch" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content" style="width:247%; margin-right:-400px;">
                    <div class="modal-header" style="background:#9f9f9f ;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="color:#0a032f;">@UI_Presentation.wwwroot.Resources.Reservation.Title.ReservationSearch</h4>
                    </div>
                    <div class="modal-body" style="background:#dfdfdf">
                        @await Html.PartialAsync("~/Views/Reservation/ShowCustomerReservationSelectorPopup.cshtml")
                    </div>
                </div>
            </div>
        </div>

        @Html.Hidden("ReservationId",isEdit ? 1 : (int?)null );

        <TextBox-Botton col-class-size="col-lg-12" id="txtReservationNumber" button-event="btnReservationSelectClick()" button-id="btnReservationSearch" button-title="@UI_Presentation.wwwroot.Resources.Buttons.Title.Search" on-change-text-box="null" label-title="@UI_Presentation.wwwroot.Resources.Reservation.Title.ReservationSystemCode"></TextBox-Botton>

        <div class="col-lg-12" style="margin-top: 13px;margin-bottom:12px;">
            <a title="انتخاب از لیست" href="#" data-toggle="modal" data-target="#form-chequeReservationSearch" class="" style="margin-top: 5px !important;font-size: 1.1em;">انتخاب از لیست</a>
        </div>

        <Row-Col ids="txtCustomerProperty" style="border: 1px solid gray;  height:43px; padding: 5px; text-align: right; border-radius: 3px" cols="new List<int> { 2,10}" values="new List<string> { @UI_Presentation.wwwroot.Resources.Cheque.Title.CustomerName, string.Empty }"></Row-Col>
        <Row-Col ids="txtReservationRegisterDate" style="border: 1px solid gray; height:43px; padding: 5px; text-align: right; border-radius: 3px" cols="new List<int> { 2,10}" values="new List<string> { @UI_Presentation.wwwroot.Resources.Cheque.Title.ReservationRegisterDate, string.Empty }"></Row-Col>
        <Row-Col ids="txtDescription" style="border: 1px solid gray; height:43px; padding: 5px; text-align: right; border-radius: 3px" cols="new List<int> { 2,10}" values="new List<string> { @UI_Presentation.wwwroot.Resources.People.Title.Description, string.Empty }"></Row-Col>

        <div class="invoice-product-details table-responsive mx-md-25">
            <table class="table table-hover mb-0">
                <thead style="background: #605d5d;">
                    <tr class="border-0">
                        <th style="color:white" scope="col">آیتم</th>
                        <th style="color:white" scope="col">پرسنل</th>
                        <th style="color:white" scope="col">هزینه</th>
                        <th style="color:white" scope="col">سهم سالن</th>
                        <th style="color:white" scope="col">سهم پرسنل</th>
                    </tr>
                </thead>

                <tbody id="customerServices">
                    @await Html.PartialAsync("~/Views/Cheque/FillCustomerServicesItems.cshtml", null, new ViewDataDictionary(ViewData) { { "param", string.Format("{0}", "true" ) } })
                </tbody>
            </table>
        </div>

        <div class="row" style="margin-top:15px;background: #aca6a6;">
            <div class="col-lg-4">  <dropDown onchange-drop-down="calcTotalChequeInfo()" all-items-name="@UI_Presentation.wwwroot.Resources.General.Title.SelectItem" id="cmbPaidType" label-title="@UI_Presentation.wwwroot.Resources.Reservation.Title.PaidType" drop-down-data-bound="@payType"></dropDown></div>
            <div class="col-lg-4"><short-TextBox on-change-text-box="calcTotalChequeInfo()" id="txtPaied" value="@(isEdit ? 0 : 0)" required="true" requeired-message="@UI_Presentation.wwwroot.Resources.Mesages.ThisFieldIsRequired" label-title="@UI_Presentation.wwwroot.Resources.Cheque.Title.Paid"></short-TextBox></div>
            <div class="col-lg-4"><short-TextBox on-change-text-box="calcTotalChequeInfo()" id="txtDiscount" value="@(isEdit ? 0 : 0)" required="true" requeired-message="@UI_Presentation.wwwroot.Resources.Mesages.ThisFieldIsRequired" label-title="@UI_Presentation.wwwroot.Resources.Cheque.Title.Discount"></short-TextBox></div>
        </div>

        <div class="row" style="margin-top:15px;background: #aca6a6;">
            <div class="col-lg-3"><short-TextBox style="opacity:0.7;pointer-events:none;border:1px solid gray ;" id="totalChequePrice" value="@(isEdit ? 0 : 0)" label-title="@UI_Presentation.wwwroot.Resources.Cheque.Title.Total"></short-TextBox> </div>
            <div class="col-lg-3"><short-TextBox style="opacity:0.7;pointer-events:none;border:1px solid gray ;" id="discount" value="@(isEdit ? 0 : 0)" label-title="@UI_Presentation.wwwroot.Resources.Cheque.Title.Discount"></short-TextBox></div>
            <div class="col-lg-3"><short-TextBox style="opacity:0.7;pointer-events:none;border:1px solid gray ;" id="Paid" value="@(isEdit ? 0 : 0)" label-title="@UI_Presentation.wwwroot.Resources.Cheque.Title.Paid"></short-TextBox></div>
            <div class="col-lg-3"><short-TextBox style="opacity:0.7;pointer-events:none;border:1px solid gray ;" id="totalReminderCheque" value="@(isEdit ? 0 : 0)" label-title="@UI_Presentation.wwwroot.Resources.Cheque.Title.TotalPrice"></short-TextBox></div>
        </div>

        <div class="col-12 d-flex flex-sm-row flex-column justify-content-end mt-1">
            <Icon-Button botton-type="(int)(@CRM_Core.Infrastructure.Enums.ButtonType.RegisterBotton)" id="btnAddEditPeople" on-click-event="btnAddEditReservation(this,'@UI_Presentation.wwwroot.Resources.Mesages.ForThisCustomerHasNotRegisterAnyIntroducePeople')" title="@UI_Presentation.wwwroot.Resources.Buttons.Title.Add"></Icon-Button>
            <Icon-Button botton-type="(int)(@CRM_Core.Infrastructure.Enums.ButtonType.CancelBotton)" id="btnCancel" on-click-event="btnActionCancelClick(this,'@UI_Presentation.wwwroot.Resources.Mesages.DoYouWantToLeaveThisForm')" title="@UI_Presentation.wwwroot.Resources.Buttons.Title.Cancel"></Icon-Button>
        </div>

    </div>
</div> 







}
<script src="~/assets/js/scripts/pages/app-invoice.js"></script>
<script>
                    //$(".txtDate").datepicker({
                    //    dateFormat: './dd/mm/yy.html',
                    //    dateFormat: 'yy/mm/dd',
                    //    altField: '#alternate2',
                    //    altFormat: 'DD، d MM yy'
                    //});

                    //$("#txtMariedDate").prop('disabled', true);

</script>
